{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{% if question_type_rules_json %}
<script>window.QUESTION_TYPE_RULES = {{ question_type_rules_json|safe }};</script>
{% endif %}
{% if mock_question_test_type %}
<script>window.MOCK_QUESTION_TEST_TYPE = "{{ mock_question_test_type|escapejs }}";</script>
{% endif %}
<script src="{% static 'admin/mock_tests/question_admin.js' %}?v=8"></script>
<link rel="stylesheet" href="{% static 'admin/mock_tests/question_admin.css' %}?v=7">
{% endblock %}
